@use './styles//normalize.scss';
@use './styles/fonts';
@use './styles/variables';

html {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  color: var(--brand-text-primary);
  background-color: var(--brand-background-color);
  font-family: var(--brand-font);
}
